body {
    background-color: #073153;
    color: #eee;
}

#top_bar {
    background-color: #073357;
}

#title, #title a {
    color: white;
}


#detail {
    color: #999;
}

#footer {
    background-color: #073357;
    color: #ddd;
}

a {
    color: #888;
}

.exif_icon {
    filter: brightness(70%);
}

.empty {
    border-color: #0a508a;
}

#empty_placeholder {
    background: #0a508a;
    border-color: #666;
}